@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Lora');

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-extra-small {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-small {
  @media (min-width: 1024px) { @content; }
}
@mixin for-desktop-medium {
  @media (min-width: 1440px) { @content; }
}
@mixin for-desktop-large {
  @media (min-width: 1650px) { @content; }
}
@mixin for-desktop-extra-large {
  @media (min-width: 1850px) { @content; }
}

* {box-sizing: border-box;}

html {
  background-color: #071d22;
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: #f2c8aa;
  height: 100vh;
  margin: 0px 0px;
}

figure img {
  width: 100%;
  display: block;
}

figure .textbox {
  width: 100%;
  color: #ffffff;
  background-color: #071d22;
  font-family: 'Lora', serif;
  white-space: pre-line;
}

figure figcaption {
  text-align: center;
  color: #071d22;
  font-family: 'Indie Flower', cursive;
  font-weight: 600;
}

nav ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

nav ul li {
  display: inline-block;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: lightgrey;
}

a:hover {
  color: #071d22;
}

.active {
  color: #071d22;
}

.container {
  @include for-phone-only {
    display: grid;
    grid-template-columns: repeat(100, 1vw);
    grid-template-rows: repeat(100, 1vh);
  }
  @include for-desktop-extra-small {
    display: grid;
    grid-template-columns: repeat(100, 1vw);
    grid-template-rows: repeat(100, 1vh);
  }
}

.topbar {
  @include for-desktop-extra-small {
    grid-column: 1 / -1;
    grid-row: 1;
    z-index: 1;
    height: 3vh;
    background-color: #071d22;
    color: white;
    text-align: center;
    padding-top: 0.5vh;
  }
}

.profile {
  @include for-desktop-extra-small {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    align-self: center;
    justify-self: center;
  }
}

.profile figure {
  @include for-desktop-extra-small {
    align-self: flex-start;
    background-color: white;
    width: 36.5vw;
    margin: 0px;
    padding: 4.1vh 2.1vw 0px 2.1vw;
    box-sizing: border-box;

    -webkit-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
  }
}

.profile figcaption {
  // @include for-desktop-extra-small {
  //   padding: 5.3vh 0px;
  //   font-size: 5.0vh;
  // }
  @include for-desktop-extra-small {
    padding: 2.9vw 0px;
    font-size: 2.7vw;
  }
}

.profile li {
  @include for-desktop-extra-small {
    padding: 0px 0.6vw;
  }
}

.logo {
  @include for-desktop-extra-small {
    grid-column: 3;
    grid-row: 7;
    align-self: start;
    justify-self: start;
  }
}

.logo figure {
  @include for-desktop-extra-small {
    align-self: flex-start;
    background-color: white;
    width: 13vw;
    margin: 0px;
    padding: 1.5vh 0.75vw 0px 0.75vw;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    font-size: 2.1vh;
    font-weight: 600;

    -webkit-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
  }
}


.logo figcaption {
  @include for-desktop-extra-small {
    padding: 1.65vh 0px;
    // font-size: 2.1vh;
    font-size: 1vw;
    font-weight: 600;
  }
}

.logo li {
  @include for-desktop-extra-small {
    padding: 0px 0.2vw;
  }
}


.who {
  @include for-desktop-extra-small {
    grid-column: 31;
    grid-row: 16;
    z-index: 2;
    align-self: start;
    justify-self: start;
  }
}

.who figure {
  @include for-desktop-extra-small {
    align-self: flex-start;
    background-color: white;
    // width: 42.5vw;
    width: 43vw;
    margin: 0px;
    padding: 2.3vw 2.3vw 0px 2.3vw;
    box-sizing: border-box;

    -webkit-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
  }

  @include for-desktop-medium {
    align-self: flex-start;
    background-color: white;
    width: 42.5vw;
    margin: 0px;
    padding: 2.3vw 2.3vw 0px 2.3vw;
    box-sizing: border-box;

    -webkit-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
  }
}

.who figure .textbox {
  @include for-desktop-extra-small {
    width: 100%;
    height: 34vw;
    font-size: 1vw;
    padding: 1.3vw 1.3vw;
    line-height: 1.8;
    color: #ffffff;
    background-color: #071d22;
  }

  @include for-desktop-large {
    width: 100%;
    height: 34vw;
    font-size: 1.05vw;
    padding: 1.3vw 1.3vw;
    line-height: 1.8;
    color: #ffffff;
    background-color: #071d22;
  }
}

.who figcaption {
  @include for-desktop-extra-small {
    padding: 1.5vw 0px;
    font-size: 3.4vw;
    font-weight: 400;
  }
}


.what {
  @include for-desktop-extra-small {
    grid-column: 22;
    grid-row: 7;
    align-self: start;
    justify-self: start;
  }

  @include for-desktop-large {
    grid-column: 20;
    grid-row: 7;
    align-self: start;
    justify-self: start;
  }
}

.what figure {
  @include for-desktop-extra-small {
    align-self: flex-start;
    background-color: white;
    width: 17.2vw;
    margin: 0px;
    padding: 1vw 1vw 0px 1vw;
    box-sizing: border-box;

    -webkit-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
  }
}

.what figure .textbox {
  @include for-desktop-extra-small {
    width: 100%;
    height: 16vw;
    padding: 0.6vw 0.6vw;
    font-size: 1.1vw;
    line-height: 1.5;
    color: #ffffff;
    background-color: #071d22;
  }
}

.what figcaption {
  @include for-desktop-extra-small {
    padding: 0.8vw 0px;
    font-size: 1.8vw;
  }
}

.why {
  // @include for-desktop-extra-small {
  //   grid-column: 74;
  //   grid-row: 57;
  //   align-self: start;
  //   justify-self: start;
  //   z-index: 2;
  // }

  // @include for-desktop-large {
  //   margin-top: 3px;
  //   grid-column: 78;
  //   grid-row: 49;
  //   align-self: start;
  //   justify-self: start;
  //   z-index: 1;
  // }
  // //
  // @include for-desktop-extra-large {
  //   margin-top: 3px;
  //   grid-column: 79;
  //   grid-row: 55;
  //   align-self: start;
  //   justify-self: start;
  //   z-index: 1;
  // }
  //
  @include for-desktop-extra-small {
    grid-column: 79;
    grid-row: 45;
    align-self: start;
    justify-self: start;
    z-index: 1;
  }
  @include for-desktop-small {
    grid-column: 79;
    grid-row: 50;
    align-self: start;
    justify-self: start;
    z-index: 1;
  }
  @include for-desktop-medium {
    grid-column: 79;
    grid-row: 55;
    align-self: start;
    justify-self: start;
    z-index: 1;
  }
}

.why figure {
  @include for-desktop-extra-small {
    align-self: flex-start;
    background-color: white;
    width: 19.8vw;
    margin: 0px;
    padding: 1.25vw 1.25vw 0px 1.25vw;
    box-sizing: border-box;

    -webkit-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
  }
}

.why figure .textbox {
  @include for-desktop-extra-small {
    width: 100%;
    height: 14.2vw;
    padding: 0.4vw 0.8vw;
    font-size: 1.1vw;
    line-height: 1.6;
    color: #ffffff;
    background-color: #071d22;
  }
}

.why figcaption {
  @include for-desktop-extra-small {
    padding: 1.3vw 0px;
    font-size: 2.1vw;
  }
}

.aesthetic {
  @include for-desktop-extra-small {
    align-self: start;
    justify-self: start;
  }
}

.aesthetic figure {
  @include for-desktop-extra-small {
    align-self: flex-start;
    background-color: white;
    width: 13vw;
    margin: 0.8vh 0px;
    padding: 1.4vh 0.7vw 0px 0.7vw;
    box-sizing: border-box;

    -webkit-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
  }
}

.aesthetic figure img {
  @include for-desktop-extra-small {
    width: 100%;
  }
}

.aesthetic figcaption {
  @include for-desktop-extra-small {
    padding: 3.3vh 0px;
    font-size: 2.5vh;
  }
}

.lilly {
  // @include for-desktop-extra-small {
  //   z-index: 1;
  //   grid-column: 82;
  //   grid-row: 11;
  // }
  //
  // @include for-desktop-large {
  //   z-index: 1;
  //   grid-column: 76;
  //   grid-row: 11;
  // }
  //
  // @include for-desktop-extra-large {
  //   z-index: 1;
  //   grid-column: 72;
  //   grid-row: 11;
  // }
  @include for-desktop-extra-small {
    z-index: 1;
    grid-column: 72;
    grid-row: 11;
  }
}
//
.flowers {
  // @include for-desktop-extra-small {
  //   grid-column: 12;
  //   grid-row: 49;
  // }
  // @include for-desktop-large {
  //   grid-column: 12;
  //   grid-row: 54;
  // }
  // @include for-desktop-extra-large {
  //   grid-column: 12;
  //   grid-row: 56;
  // }
  @include for-desktop-extra-small {
    grid-column: 12;
    grid-row: 46;
    align-self: start;
    justify-self: start;
    z-index: 1;
  }
  @include for-desktop-small {
    grid-column: 12;
    grid-row: 51;
    align-self: start;
    justify-self: start;
    z-index: 1;
  }
  @include for-desktop-medium {
    grid-column: 12;
    grid-row: 56;
    align-self: start;
    justify-self: start;
    z-index: 1;
  }
}


.gallery {
  @include for-desktop-extra-small {
 /* grid */
    grid-area: main;
    align-self: center;
    justify-self: center;
    /* flexbox */
    display: flex;
    width: 900px;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px dashed gray;
  }
}

.gallery figure {
  @include for-desktop-extra-small {
    align-self: flex-start;
    background-color: white;
    width: 200px;
    margin: 8px 0px;
    border: 1px solid #777;
    padding: 8px;
    box-sizing: border-box;
  }
}
