@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Lora');

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-extra-small {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-small {
  @media (min-width: 1240px) { @content; }
}
@mixin for-desktop-medium {
  @media (min-width: 1440px) { @content; }
}
@mixin for-desktop-large {
  @media (min-width: 1690px) { @content; }
}
@mixin for-desktop-extra-large {
  @media (min-width: 1900px) { @content; }
}

@-webkit-keyframes fade-in-back {
  0% { opacity: 0; }
  20% { opacity: 0; }
  50% { opacity: 0.1; }
  100% { opacity: 1; }
}

@keyframes fade-in-back {
  0% { opacity: 0; }
  20% { opacity: 0; }
  50% { opacity: 0.1; }
  100% { opacity: 1; }
}

@-webkit-keyframes fade-in-front {
  0% { opacity: 0; }
  50% { opacity: 0; }
  65% { opacity: 0.1; }
  100% { opacity: 1; }
}

@keyframes fade-in-front {
  0% { opacity: 0; }
  50% { opacity: 0; }
  65% { opacity: 0.1; }
  100% { opacity: 1; }
}

@-webkit-keyframes fade-in-logo {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-in-logo {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


@mixin gradient-animation( $direction, $start, $end, $transTime ) {
  background-size: 100%;
  background-image: linear-gradient($direction, $start, $end);
  position: relative;
  z-index: 100;
  &:before {
    background-image: linear-gradient($direction, $end, $start);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity $transTime;
  }
  &:hover {
     &:before {
       opacity: 1;
     }
  }
}

* {box-sizing: border-box;}

html {
  // background-color: #071d22;
  // height: 100vh;
  // overflow: hidden;
}

body {
  background-color: #f2c8aa;
  // height: 100vh;
  margin: 0px 0px;
}

figure img {
  width: 100%;
  display: block;
}

figure .textbox {
  width: 100%;
  color: #ffffff;
  background-color: #071d22;
  font-family: 'Lora', serif;
  white-space: pre-line;
}

figure figcaption {
  text-align: center;
  color: #071d22;
  font-family: 'Indie Flower', cursive;
}

nav ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

nav ul li {
  display: inline-block;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: lightgrey;
}

a:hover {
  color: #071d22;
}

.active {
  color: #071d22;
}

.about {
  height: 100vh;
  overflow: hidden;

  @include for-phone-only {
    display: grid;
    grid-template-columns: repeat(100, 1vw);
    grid-template-rows: repeat(100, 1vh);
  }
  @include for-desktop-extra-small {
    display: grid;
    grid-template-columns: repeat(100, 1vw);
    grid-template-rows: repeat(100, 1vh);
  }
}

.gallery {
  background-color: #f2c8aa;

  @include for-phone-only {
    display: grid;
    grid-template-columns: repeat(100, 1vw);
    grid-template-rows: repeat(100, 1vh);
  }
  @include for-desktop-extra-small {
    display: grid;
    grid-template-columns: repeat(100, 1vw);
    grid-template-rows: repeat(100, 1vh);
  }
}

.home {
  @include for-phone-only {
    display: grid;
    grid-template-columns: repeat(100, 1vw);
    grid-template-rows: repeat(100, 1vh);
  }
  @include for-desktop-extra-small {
    display: grid;
    grid-template-columns: repeat(100, 1vw);
    grid-template-rows: repeat(100, 1vh);
  }
}

.works {
  height: 100vh;
  overflow: hidden;

  @include for-phone-only {
    display: grid;
    grid-template-columns: repeat(100, 1vw);
    grid-template-rows: repeat(100, 1vh);
  }
  @include for-desktop-extra-small {
    display: grid;
    grid-template-columns: repeat(100, 1vw);
    grid-template-rows: repeat(100, 1vh);
  }
}

.resume {
  @include for-phone-only {
    display: grid;
    grid-template-columns: repeat(100, 1vw);
    grid-template-rows: repeat(100, 1vh);
  }
  @include for-desktop-extra-small {
    display: grid;
    grid-template-columns: repeat(100, 1vw);
    grid-template-rows: repeat(100, 1vh);
  }
}

.topbar {
  @include for-desktop-extra-small {
    grid-column: 1 / -1;
    grid-row: 1;
    z-index: 1;
    height: 3vh;
    font-size: 2vh;
    background-color: #071d22;
    color: white;
    text-align: center;
    padding-top: 0.5vh;
  }
}



.profile {
  @include for-desktop-extra-small {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    align-self: center;
    justify-self: center;
  }
}

.profile figure {
  @include for-desktop-extra-small {
    align-self: flex-start;
    background-color: white;
    width: 36.5vw;
    margin: 0px;
    padding: 2.1vw 2.1vw 0px 2.1vw;
    box-sizing: border-box;

    -webkit-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
  }
}

.profile figcaption {
  // @include for-desktop-extra-small {
  //   padding: 5.3vh 0px;
  //   font-size: 5.0vh;
  // }
  @include for-desktop-extra-small {
    padding: 2.9vw 0px;
    font-size: 2.7vw;
  }
}

.profile li {
  @include for-desktop-extra-small {
    padding: 0px 0.6vw;
  }
}

.logo {
  @include for-desktop-extra-small {
    grid-column: 3;
    grid-row: 7;
    align-self: start;
    justify-self: start;
  }
  -webkit-animation: fade-in-logo 1s linear forwards;
  animation: fade-in-logo 1s linear forwards;
}

.logo figure {
  @include for-desktop-extra-small {
    align-self: flex-start;
    background-color: white;
    width: 13vw;
    margin: 0px;
    padding: 0.75vw 0.75vw 0px 0.75vw;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    font-weight: 600;

    -webkit-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
  }
}


.logo figcaption {
  @include for-desktop-extra-small {
    padding: 0.8vw 0px;
    // font-size: 2.1vh;
    font-size: 1vw;
    font-weight: 600;
  }
}

.logo li {
  @include for-desktop-extra-small {
    padding: 0px 0.2vw;
  }
}


.who {
  @include for-desktop-extra-small {
    grid-column: 33;
    grid-row: 18;
    z-index: 2;
    align-self: start;
    justify-self: start;
  }

  @include for-desktop-medium {
    grid-column: 33;
    grid-row: 16;
    z-index: 2;
    align-self: start;
    justify-self: start;
  }

  @include for-desktop-large {
    grid-column: 31;
    grid-row: 17;
    z-index: 2;
    align-self: start;
    justify-self: start;
  }

  -webkit-animation: fade-in-front 2s linear forwards;
  animation: fade-in-front 2s linear forwards;
}

.who figure {
  @include for-desktop-extra-small {
    align-self: flex-start;
    background-color: white;
    // width: 42.5vw;
    width: 41vw;
    margin: 0px;
    padding: 2.3vw 2.3vw 0px 2.3vw;
    box-sizing: border-box;

    -webkit-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
  }

  @include for-desktop-medium {
    align-self: flex-start;
    background-color: white;
    width: 42vw;
    margin: 0px;
    padding: 2.3vw 2.3vw 0px 2.3vw;
    box-sizing: border-box;

    -webkit-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
  }

  @include for-desktop-large {
    align-self: flex-start;
    background-color: white;
    width: 43vw;
    margin: 0px;
    padding: 2.3vw 2.3vw 0px 2.3vw;
    box-sizing: border-box;

    -webkit-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
  }
}

.who figure .textbox {
  @include for-desktop-extra-small {
    width: 100%;
    height: 28vw;
    font-size: 0.95vw;
    padding: 1.2vw 1.2vw;
    line-height: 1.6;
    color: #ffffff;
    background-color: #071d22;
  }

  @include for-desktop-medium {
    width: 100%;
    height: 34vw;
    font-size: 1vw;
    padding: 1.3vw 1.3vw;
    line-height: 1.8;
    color: #ffffff;
    background-color: #071d22;
  }

  @include for-desktop-large {
    width: 100%;
    height: 29vw;
    font-size: 1vw;
    padding: 1.3vw 1.3vw;
    line-height: 1.7;
    color: #ffffff;
    background-color: #071d22;
  }
}

.who figcaption {
  @include for-desktop-extra-small {
    padding: 1.5vw 0px;
    font-size: 3.4vw;
  }
}


.what {
  @include for-desktop-extra-small {
    grid-column: 22;
    grid-row: 7;
    align-self: start;
    justify-self: start;
  }

  @include for-desktop-large {
    grid-column: 20;
    grid-row: 7;
    align-self: start;
    justify-self: start;
  }

  -webkit-animation: fade-in-back 1.5s linear forwards;
  animation: fade-in-back 1.5s linear forwards;
}

.what figure {
  @include for-desktop-extra-small {
    align-self: flex-start;
    background-color: white;
    width: 17.2vw;
    margin: 0px;
    padding: 1vw 1vw 0px 1vw;
    box-sizing: border-box;

    -webkit-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
  }
}

.what figure .textbox {
  @include for-desktop-extra-small {
    width: 100%;
    height: 16vw;
    padding: 0.6vw 0.6vw;
    font-size: 1.1vw;
    line-height: 1.5;
    color: #ffffff;
    background-color: #071d22;
  }
}

.what figcaption {
  @include for-desktop-extra-small {
    padding: 0.8vw 0px;
    font-size: 1.8vw;
  }
}

.why {
  @include for-desktop-extra-small {
    grid-column: 79;
    grid-row: 45;
    align-self: start;
    justify-self: start;
    z-index: 1;
  }
  @include for-desktop-small {
    grid-column: 79;
    grid-row: 52;
    align-self: start;
    justify-self: start;
    z-index: 1;
  }
  @include for-desktop-medium {
    grid-column: 79;
    grid-row: 55;
    align-self: start;
    justify-self: start;
    z-index: 1;
  }
  @include for-desktop-large {
    grid-column: 77;
    grid-row: 51;
    align-self: start;
    justify-self: start;
    z-index: 1;
  }

  -webkit-animation: fade-in-back 1.5s linear forwards;
  animation: fade-in-back 1.5s linear forwards;
}

.why figure {
  @include for-desktop-extra-small {
    align-self: flex-start;
    background-color: white;
    width: 19.8vw;
    margin: 0px;
    padding: 1.25vw 1.25vw 0px 1.25vw;
    box-sizing: border-box;

    -webkit-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
  }
}

.why figure .textbox {
  @include for-desktop-extra-small {
    width: 100%;
    height: 14.2vw;
    padding: 0.4vw 0.8vw;
    font-size: 1.1vw;
    line-height: 1.6;
    color: #ffffff;
    background-color: #071d22;
  }
}

.why figcaption {
  @include for-desktop-extra-small {
    padding: 1.3vw 0px;
    font-size: 2.1vw;
  }
}

.aesthetic {
  @include for-desktop-extra-small {
    align-self: start;
    justify-self: start;
  }
}

.aesthetic figure {
  @include for-desktop-extra-small {
    align-self: flex-start;
    background-color: white;
    width: 13vw;
    margin: 0.4vw 0px;
    padding: 0.7vw 0.7vw 0px 0.7vw;
    box-sizing: border-box;

    -webkit-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
  }
}

.aesthetic figure img {
  @include for-desktop-extra-small {
    width: 100%;
  }
}

.aesthetic figcaption {
  @include for-desktop-extra-small {
    padding: 1.8vw 0px;
  }
}

.lilly {
  @include for-desktop-extra-small {
    z-index: 1;
    grid-column: 72;
    grid-row: 11;
  }
  -webkit-animation: fade-in-back 1.5s linear forwards;
  animation: fade-in-back 1.5s linear forwards;
}

.flowers {
  @include for-desktop-extra-small {
    grid-column: 12;
    grid-row: 46;
    align-self: start;
    justify-self: start;
    z-index: 1;
  }
  @include for-desktop-small {
    grid-column: 12;
    grid-row: 53;
    align-self: start;
    justify-self: start;
    z-index: 1;
  }
  @include for-desktop-medium {
    grid-column: 12;
    grid-row: 56;
    align-self: start;
    justify-self: start;
    z-index: 1;
  }
  -webkit-animation: fade-in-back 1.5s linear forwards;
  animation: fade-in-back 1.5s linear forwards;
}


.box {
  @include for-desktop-extra-small {
    grid-column: 22;
    grid-row: 7;
    align-self: start;
    justify-self: start;
  }

  display: flex;
  width: 75vw;
  height: 80vh;
  justify-content: flex-start;
  flex-wrap: wrap;
}

// .stack {
//   flex: 0 0 25%;
//   height: 17vw;
//   transition: all 1s;
// }
//
// .stack:hover {
//   transform: scale(1.1);
// }
//
// .stack figure {
//   @include for-desktop-extra-small {
//     background-color: white;
//     width: 12vw;
//     margin: 0px 0px;
//     padding: 0.75vw 0.75vw 0px 0.75vw;
//     box-sizing: border-box;
//     font-family: 'Indie Flower', cursive;
//     font-weight: 600;
//
//     -webkit-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
//     -moz-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
//     box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
//   }
// }
//
// .stack figure img {
//   width: 100%;
// }
//
// .stack figure figcaption {
//   @include for-desktop-extra-small {
//     padding: 0.8vw 0px;
//     // font-size: 2.1vh;
//     font-size: 1vw;
//     font-weight: 600;
//   }
// }
//
// .stack figure .textbox {
//   @include for-desktop-extra-small {
//     width: 100%;
//     height: 9vw;
//     padding: 0.4vw 0.8vw;
//     font-size: 1.1vw;
//     line-height: 1.6;
//     color: #ffffff;
//     background-color: #071d22;
//   }
// }
//
// .stack > * {
//   position: absolute;
// }
//
// .photoTop {
//   z-index: 2;
// }
//
// .photoLeft {
//   z-index: 1;
//   transform: rotate(6deg);
// }
//
// .photoRight {
//   z-index: 0;
//   transform: rotate(-4deg);
// }

// .workbox {
//   @include for-desktop-extra-small {
//     grid-column: 25;
//     grid-row: 7;
//     align-self: start;
//     justify-self: start;
//   }
//   width: 75vw;
//   height: 90vh;
//   display: flex;
//   flex-wrap: wrap;
//   align-items: stretch;
//   margin: auto;
//   padding: 0px;
// }
//
// .workbox > div {
//   width: 35%;
//   height: 46%;
//   margin: 0% 3% 4% 0%;
// }
//
// .workbox figure {
//   flex: 0 0 50%;
//   color: white;
//   height: 100%;
//   text-align: center;
//
//   @include for-desktop-extra-small {
//     background-color: white;
//     margin: 0;
//     // width: 45%;
//     padding: 1.25vw 1.25vw 0px 1.25vw;
//     box-sizing: border-box;
//
//     -webkit-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
//     -moz-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
//     box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
//   }
// }
//
// .workbox figure .colorbox {
//   @include for-desktop-extra-small {
//     width: 100%;
//     height: 85%;
//     padding: 0.4vw 0.8vw;
//     font-size: 1.1vw;
//     line-height: 1.6;
//   }
// }

.workbox {
  @include for-desktop-extra-small {
    grid-column: 25;
    grid-row: 7;
    align-self: start;
    justify-self: start;
  }
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: auto;
  padding: 0px;
}

.workbox > div {
  width: 25%;
  height: 46%;
  margin: 0% 3% 4% 0%;
}

.workbox figure {
  flex: 0 0 30%;
  color: white;
  height: 100%;
  text-align: center;

  @include for-desktop-extra-small {
    background-color: white;
    margin: 0;
    // width: 45%;
    padding: 1.25vw 1.25vw 0px 1.25vw;
    box-sizing: border-box;

    -webkit-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 18px 12px 2px 0px rgba(0,0,0,0.2);
  }
}

.workbox figure .colorbox {
  @include for-desktop-extra-small {
    width: 100%;
    height: 85%;
    padding: 0.4vw 0.8vw;
    font-size: 1.1vw;
    line-height: 1.6;
  }
}

.workbox figure figcaption {
  @include for-desktop-extra-small {
    padding: 0.5vw 0px;
    font-size: 1.3vw;
    font-weight: 600;
  }
}

.stack {
  transition: all 1s;
}

.stack:hover {
  transform: scale(1.1);
}

.workbox .stack {
  height: 100%;
}

.workbox .photoTop {
  z-index: 2;
  height: 100%;
}

.workbox .photoLeft {
  visibility: hidden;
  z-index: 1;
  height: 100%;
}
.workbox .photoRight {
  z-index: 0;
  visibility: hidden;
  height: 100%;
}

.workbox .photoLeft:hover {
  visibility: visible;
  height: 100%;
}
.workbox .photoRight:hover {
  visibility: visible;
  height: 100%;
}

.workbox .projects .colorbox {
  background: #355c7d; /* fallback for old browsers */
  @include gradient-animation(135deg, #355c7d, #c06c84, 1s);
}

.workbox .photos .colorbox {
  background: #ba5370; /* fallback for old browsers */
  @include gradient-animation(180deg, #ba5370, #f4e2d8, 1s);
}

.workbox .writings .colorbox {
  background: #d9a7c7;  /* fallback for old browsers */
  @include gradient-animation(-135deg, #d9a7c7, #fffcdc, 1s);
}

.workbox .inspo .colorbox {
  background: #ADA996;  /* fallback for old browsers */
  @include gradient-animation(45deg, #ADA996, #EAEAEA, 1s);
}

.workbox .temp .colorbox {
  background: #d9a7c7;  /* fallback for old browsers */
  @include gradient-animation(0deg, #d9a7c7, #fffcdc, 1s);
}

.workbox .temp2 .colorbox {
  background: #d9a7c7;  /* fallback for old browsers */
  @include gradient-animation(-45deg, #d9a7c7, #fffcdc, 1s);
}
